.ProseMirror .tableWrapper {
  overflow-x: auto;
}
.ProseMirror table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
.ProseMirror td, .ProseMirror th {
  vertical-align: top;
  box-sizing: border-box;
  min-width: 50px;
}
/* Give selected cells a blue overlay */
.ProseMirror .selectedCell {
  position: relative;
}
.ProseMirror .selectedCell:after {
  z-index: 2;
  position: absolute;
  content: "";
  left: 0; right: 0; top: 0; bottom: 0;
  background: rgba(200, 200, 255, 0.4);
  pointer-events: none;
}
