name: coverage

on:
  workflow_run:
    workflows: ['ci']
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest

    permissions:
      pull-requests: write

    steps:
      - uses: actions/checkout@v6
      - uses: actions/download-artifact@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          run-id: ${{ github.event.workflow_run.id }}
      - name: Report Coverage
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          file-coverage-mode: all
