name: Release

on:
  push:
    branches:
      - master

jobs:
  version:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release-please
        with:
          release-type: node
    outputs:
      release_created: ${{ steps.release-please.outputs.release_created }}

  publish:
    runs-on: ubuntu-latest
    needs: [version]
    permissions:
      contents: write
      id-token: write
    if: ${{ needs.version.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6

      - uses: ./.github/actions/setup

      - name: Build
        run: pnpm run build

      - name: Publish to NPM
        run: pnpm publish
